<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p> <%= @article.title %></p>
      <p> <%= @article.content %></p>
      <p> <%= @article.created_at %></p>
      <p><%= link_to "Go back to home", articles_path %> </p>
  </div>
  </div>
</div>

